@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&display=swap');

body {
    margin: 0;
}

.hero {

    display: flex;
    flex-direction: column;
    justify-content: center;

    
    &__header{
        margin: 0;
        font-family: Lora;
        font-size: 124px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        padding-top: 221px;
    }

    &__header-description{
        font-family: LibreFranklin-Regular;
        font-size: 24px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 5px;
        text-align: center;
        color: #000000;
    }

    &__search-container{
        display: flex;
        justify-content: center;
        padding: 48px;
    }

    &__search-description {
        font-family: Lora;
        font-size: 48px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #000000;
        margin: 0;
    }

    &__search-bar {
        font-family: Lora;
        width: 576px;
        height: 48px;
        outline: none;
        border: none;
        border-bottom: 4px black solid;
        font-size: 48px;
        text-align: center;
        resize: none;
    }

    &__button {
        font-family: LibreFranklin-bold;
        font-size: 36px;
        width: 505px;
        height: 100px;
        border-radius: 10px;
        background-color: #fbe4e4;
        margin-top: 45px;
    }

}