.Chefe {
    width: 338px;
    height: 159px;
    font-family: Lora;
    font-size: 124px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
    padding-left:104px;
  }

  .Your-Best-Restaurant {
    width: 385px;
    height: 39px;
    font-family: LibreFranklin;
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
  }

  .resturant-section{
      padding-left:206px;
  }